In [1]:
cont = "y"
while cont == "y" or cont == "Y":
    print("Select operation.")
    print("1.Add")
    print("2.Subtract")
    print("3.Multiply")
    print("4.Divide")

    choice = input("Enter choice(1/2/3/4):")

    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))

    if choice == '1':
       print(num1,"+",num2,"=", (num1 + num2))

    elif choice == '2':
       print(num1,"-",num2,"=", (num1 - num2))

    elif choice == '3':
       print(num1,"*",num2,"=", (num1 * num2))

    elif choice == '4':
       print(num1,"/",num2,"=", (num1 / num2))
    else:
       print("Invalid input")
    cont = input("Continue?y/n:")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4):2
Enter first number: 3
Enter second number: 6
3 - 6 = -3
Continue?y/n:n

# Loop cal

In [2]:
L1 = ["Pranav","Rucha","Tushar","Prakash","Ahilya","Rahul","Trupti"]
print(L1)

['Pranav', 'Rucha', 'Tushar', 'Prakash', 'Ahilya', 'Rahul', 'Trupti']

In [3]:
print(L1[2])

Tushar

In [4]:
print(L1[-3])

Ahilya

In [5]:
print(L1[2:5])

['Tushar', 'Prakash', 'Ahilya']

In [6]:
print(L1[:3])

['Pranav', 'Rucha', 'Tushar']

In [7]:
print(L1[2:])

['Tushar', 'Prakash', 'Ahilya', 'Rahul', 'Trupti']

In [3]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []
total.append(L1+L2)

In [11]:
L1 = [10,20,30]
L2 = [15,25,35]
total = L1 + L2
print(total)

[10, 20, 30, 15, 25, 35]

In [13]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []
for j in range (3):
    total.append(L1[j] + L2 [j])
print("\n total sum of two list =", total)

 total sum of two list = [25, 45, 65]

In [17]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(L2[j]-L1[j])
print("\n total sub of two list =", total)

 total sub of two list = [5, 5, 5]

In [18]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(L2[j]*L1[j])
print("\n total mul of two list =", total)

 total mul of two list = [150, 500, 1050]

In [20]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(L2[j]/L1[j])
print("\n total div of two list =", total)

 total div of two list = [1.5, 1.25, 1.1666666666666667]

In [21]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(5* L1[j])
print("\n total sub of two list =", total)

 total sub of two list = [50, 100, 150]

In [22]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(L1[j]*2)
print("\n total sub of two list =", total)

 total sub of two list = [20, 40, 60]

In [4]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []
total.append(L1+L2)

##addtion of two element which are from different list L1= [1,3,4,5] ,L2=[5,6,7,8]
L1[2]+L2[1]

L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (3):
    total.append(L1[j]*2)
print("\n total sub of two list =", total)

In [9]:
L1 = [10,20,30]
L2 = [15,25,35]
total = []

for j in range (1):
    total.append(L1[2]+ L2[1])
print("total =", total)

total = [55]